.vs/Arima.Identity.Ui/v16/Server/sqlite3/storage.ide-wal
.vs/Arima.Identity.Ui/v16/Server/sqlite3/storage.ide-shm
.vs/Arima.Identity.Ui/v16/Server/sqlite3/storage.ide
.vs/Arima.Identity.Ui/v16/Server/sqlite3/db.lock
.vs/Arima.Identity.Ui/v16/.suo
Arima.Identity.Domain.Bll/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.pdb
Arima.Identity.Domain.Bll/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.dll
Arima.Identity.Domain.Bll/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.pdb
Arima.Identity.Domain.Bll/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.dll
Arima.Identity.Domain.Bll/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.pdb
Arima.Identity.Domain.Bll/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.dll
Arima.Identity.Domain.Bll/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.pdb
Arima.Identity.Domain.Bll/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.dll
Arima.Identity.Domain.Bll/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.deps.json
Arima.Identity.Domain.Bll/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.pdb
Arima.Identity.Domain.Bll/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.dll
Arima.Identity.Domain.Bll/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.csprojAssemblyReference.cache
Arima.Identity.Domain.Bll/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.csproj.FileListAbsolute.txt
Arima.Identity.Domain.Bll/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.csproj.CopyComplete
Arima.Identity.Domain.Bll/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.assets.cache
Arima.Identity.Domain.Bll/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.AssemblyInfoInputs.cache
Arima.Identity.Domain.Bll/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.AssemblyInfo.cs
Arima.Identity.Domain.Bll/obj/project.assets.json
Arima.Identity.Domain.Bll/obj/Arima.Identity.Domain.Bll.csproj.nuget.g.targets
Arima.Identity.Domain.Bll/obj/Arima.Identity.Domain.Bll.csproj.nuget.g.props
Arima.Identity.Domain.Bll/obj/Arima.Identity.Domain.Bll.csproj.nuget.dgspec.json
Arima.Identity.Domain.Bll/obj/Arima.Identity.Domain.Bll.csproj.nuget.cache
Arima.Identity.Domain/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.pdb
Arima.Identity.Domain/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.dll
Arima.Identity.Domain/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.deps.json
Arima.Identity.Domain.Dal/obj/project.assets.json
Arima.Identity.Domain.Dal/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.pdb
Arima.Identity.Domain.Dal/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.dll
Arima.Identity.Domain.Dal/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.csprojAssemblyReference.cache
Arima.Identity.Domain.Dal/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.csproj.FileListAbsolute.txt
Arima.Identity.Domain.Dal/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.csproj.CopyComplete
Arima.Identity.Domain.Dal/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.assets.cache
Arima.Identity.Domain.Dal/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.AssemblyInfoInputs.cache
Arima.Identity.Domain.Dal/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.AssemblyInfo.cs
Arima.Identity.Domain.Dal/obj/Arima.Identity.Domain.Dal.csproj.nuget.g.targets
Arima.Identity.Domain.Dal/obj/Arima.Identity.Domain.Dal.csproj.nuget.g.props
Arima.Identity.Domain.Dal/obj/Arima.Identity.Domain.Dal.csproj.nuget.dgspec.json
Arima.Identity.Domain.Dal/obj/Arima.Identity.Domain.Dal.csproj.nuget.cache
Arima.Identity.Domain.Dal/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.pdb
Arima.Identity.Domain.Dal/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.dll
Arima.Identity.Domain.Dal/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.pdb
Arima.Identity.Domain.Dal/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.dll
Arima.Identity.Domain.Dal/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.deps.json
Arima.Identity.Domain/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.pdb
Arima.Identity.Domain/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.dll
Arima.Identity.Domain/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.csprojAssemblyReference.cache
Arima.Identity.Domain/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.csproj.FileListAbsolute.txt
Arima.Identity.Domain/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.assets.cache
Arima.Identity.Domain/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.AssemblyInfoInputs.cache
Arima.Identity.Domain/obj/Debug/netcoreapp3.1/Arima.Identity.Domain.AssemblyInfo.cs
Arima.Identity.Domain/obj/project.assets.json
Arima.Identity.Domain/obj/Arima.Identity.Domain.csproj.nuget.g.targets
Arima.Identity.Domain/obj/Arima.Identity.Domain.csproj.nuget.g.props
Arima.Identity.Domain/obj/Arima.Identity.Domain.csproj.nuget.dgspec.json
Arima.Identity.Domain/obj/Arima.Identity.Domain.csproj.nuget.cache
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/appsettings.json
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/System.Resources.Extensions.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/SshNet.Security.Cryptography.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Renci.SshNet.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/MySql.Data.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.pdb
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.runtimeconfig.json
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.runtimeconfig.dev.json
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.pdb
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.exe
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.deps.json
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.pdb
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.dll
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.pdb
Arima.Identity.Infra.Dados.MySql.Teste/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.dll
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.csprojAssemblyReference.cache
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.assets.cache
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.pdb
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.dll
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.csprojAssemblyReference.cache
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.csproj.FileListAbsolute.txt
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.csproj.CopyComplete
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.assets.cache
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.AssemblyInfoInputs.cache
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.AssemblyInfo.cs
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.AssemblyInfoInputs.cache
Arima.Identity.Infra.Dados.MySql/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.AssemblyInfo.cs
Arima.Identity.Infra.Dados.MySql.Teste/obj/project.assets.json
Arima.Identity.Infra.Dados.MySql.Teste/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.pdb
Arima.Identity.Infra.Dados.MySql.Teste/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.exe
Arima.Identity.Infra.Dados.MySql.Teste/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.dll
Arima.Identity.Infra.Dados.MySql.Teste/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.csprojAssemblyReference.cache
Arima.Identity.Infra.Dados.MySql.Teste/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.csproj.FileListAbsolute.txt
Arima.Identity.Infra.Dados.MySql.Teste/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.csproj.CopyComplete
Arima.Identity.Infra.Dados.MySql.Teste/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.assets.cache
Arima.Identity.Infra.Dados.MySql.Teste/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.AssemblyInfoInputs.cache
Arima.Identity.Infra.Dados.MySql.Teste/obj/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.Teste.AssemblyInfo.cs
Arima.Identity.Infra.Dados.MySql.Teste/obj/Arima.Identity.Infra.Dados.MySql.Teste.csproj.nuget.g.targets
Arima.Identity.Infra.Dados.MySql.Teste/obj/Arima.Identity.Infra.Dados.MySql.Teste.csproj.nuget.g.props
Arima.Identity.Infra.Dados.MySql.Teste/obj/Arima.Identity.Infra.Dados.MySql.Teste.csproj.nuget.dgspec.json
Arima.Identity.Infra.Dados.MySql.Teste/obj/Arima.Identity.Infra.Dados.MySql.Teste.csproj.nuget.cache
Arima.Identity.Infra.Dados.MySql/obj/Arima.Identity.Infra.Dados.csproj.nuget.g.targets
Arima.Identity.Infra.Dados.MySql/obj/Arima.Identity.Infra.Dados.csproj.nuget.g.props
Arima.Identity.Infra.Dados.MySql/obj/Arima.Identity.Infra.Dados.csproj.nuget.dgspec.json
Arima.Identity.Infra.Dados.MySql/obj/Arima.Identity.Infra.Dados.csproj.nuget.cache
Arima.Identity.Infra.Dados.MySql/obj/Arima.Identity.Infra.Dados.MySql.csproj.nuget.g.targets
Arima.Identity.Infra.Dados.MySql/obj/Arima.Identity.Infra.Dados.MySql.csproj.nuget.g.props
Arima.Identity.Infra.Dados.MySql/obj/Arima.Identity.Infra.Dados.MySql.csproj.nuget.dgspec.json
Arima.Identity.Infra.Dados.MySql/obj/Arima.Identity.Infra.Dados.MySql.csproj.nuget.cache
Arima.Identity.Infra.Dados.MySql/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.pdb
Arima.Identity.Infra.Dados.MySql/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.dll
Arima.Identity.Infra.Dados.MySql/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.deps.json
Arima.Identity.Infra.Dados.MySql/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.pdb
Arima.Identity.Infra.Dados.MySql/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.dll
Arima.Identity.Infra.Dados.MySql/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.pdb
Arima.Identity.Infra.Dados.MySql/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/appsettings.json
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/appsettings.Development.json
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/System.Resources.Extensions.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/SshNet.Security.Cryptography.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Renci.SshNet.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Owin.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/MySql.Data.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.Owin.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.Owin.Security.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.Owin.Security.OAuth.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.Owin.Security.Cookies.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.Owin.Host.SystemWeb.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.AspNet.Identity.Owin.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Microsoft.AspNet.Identity.Core.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Ui.runtimeconfig.json
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Ui.runtimeconfig.dev.json
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Ui.pdb
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Ui.exe
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Ui.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Ui.deps.json
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Ui.Views.pdb
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Ui.Views.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.pdb
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Infra.Dados.MySql.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.pdb
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.pdb
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Dal.dll
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.pdb
Arima.Identity.Ui/bin/Debug/netcoreapp3.1/Arima.Identity.Domain.Bll.dll
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/Conta/Registrar.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/Conta/Login.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/Conta/AcessoNegado.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.pdb
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.exe
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.dll
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.csprojAssemblyReference.cache
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.csproj.FileListAbsolute.txt
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.csproj.CopyComplete
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.assets.cache
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.Views.pdb
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.Views.dll
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.TagHelpers.output.cache
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.TagHelpers.input.cache
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.RazorTargetAssemblyInfo.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.RazorTargetAssemblyInfo.cache
Arima.Identity.Ui/obj/project.assets.json
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/staticwebassets/Arima.Identity.Ui.StaticWebAssets.xml
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/staticwebassets/Arima.Identity.Ui.StaticWebAssets.Manifest.cache
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/Identity/Index.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/Identity/Details.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/Identity/Create.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.RazorCoreGenerate.cache
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.RazorAssemblyInfo.cs
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.RazorAssemblyInfo.cache
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.MvcApplicationPartsAssemblyInfo.cache
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.AssemblyInfoInputs.cache
Arima.Identity.Ui/obj/Debug/netcoreapp3.1/Arima.Identity.Ui.AssemblyInfo.cs
Arima.Identity.Ui/obj/Arima.Identity.Ui.csproj.nuget.g.targets
Arima.Identity.Ui/obj/Arima.Identity.Ui.csproj.nuget.g.props
Arima.Identity.Ui/obj/Arima.Identity.Ui.csproj.nuget.dgspec.json
Arima.Identity.Ui/obj/Arima.Identity.Ui.csproj.nuget.cache
